<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.conways.autoanalytics.test">
    <application
        android:name="com.conways.autoanalytics.test.BPApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity android:name="com.conways.autoanalytics.test.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.conways.autoanalytics.test.MainActivity3"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">
        </activity>
    </application>
</manifest>